@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#home-bg {
  background-image: url("/bg-home.webp");
  background-size: cover;
  background-position: center;
}

#home-navbar {
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  padding: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  cursor: pointer;
}
input[type="date"].dark-icon {
  color-scheme: dark;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
